@{
    ViewData["Title"] = "Group 1";
}



<div class="row">
    <!-- Sidebar (Groups & Channels) -->
    <div class="col-md-3">
        <h4>Groups</h4>
        <div class="list-group">
            <a href="#group1" class="list-group-item list-group-item-action">Group 1</a>
            <a href="#group2" class="list-group-item list-group-item-action">Group 2</a>
            <a href="#group3" class="list-group-item list-group-item-action">Group 3</a>
        </div>

        <h4 class="mt-4">Channels</h4>
        <div class="list-group">
            <a href="#channel1" class="list-group-item list-group-item-action">#General</a>
            <a href="#channel2" class="list-group-item list-group-item-action">#Development</a>
            <a href="#channel3" class="list-group-item list-group-item-action">#Design</a>
        </div>
    </div>

    <!-- Chat Area (Messages) -->
    <div class="col-md-9">
        <div class="channel" id="channel1">
            <h5>#General</h5>
            <div class="message-box">
                <div class="message"><strong>User1:</strong> Hello, team!</div>
                <div class="message"><strong>User2:</strong> Good morning!</div>
                <div class="message"><strong>User3:</strong> Let's discuss the next project.</div>
            </div>
            <input type="text" class="form-control input-message" placeholder="Type a message...">
        </div>

        <div class="channel" id="channel2">
            <h5>#Development</h5>
            <div class="message-box">
                <div class="message"><strong>DevUser1:</strong> The API is almost ready!</div>
                <div class="message"><strong>DevUser2:</strong> Great, I will test it soon.</div>
            </div>
            <input type="text" class="form-control input-message" placeholder="Type a message...">
        </div>

        <div class="channel" id="channel3">
            <h5>#Design</h5>
            <div class="message-box">
                <div class="message"><strong>DesignUser1:</strong> Here is the new UI prototype.</div>
                <div class="message"><strong>DesignUser2:</strong> Looks great, let's refine the colors.</div>
            </div>
            <input type="text" class="form-control input-message" placeholder="Type a message...">
        </div>
    </div>
</div>

