@{
    ViewBag.Title = "Afisare categorie";
}


<h2>@ViewBag.Title</h2>
<br />

<p>@ViewBag.Category.Name</p>
<form method="post" action="/Categories/Delete/@ViewBag.Category.Id">
    <button class="btn btn-danger" type="submit">Delete</button>
</form>

<br />
<a class="btn alert-success" href="/Categories/Index/">See categories</a>
<br />
<hr />
<br />
