@model Discord2.Models.Category
@{
    ViewBag.Title = "Category " + Model.Name;
}


<div class="container">
    <partial name="_TempDataPartial" />
    <h2>@ViewBag.Title</h2>
    <br />
    <form method="post" action="/Categories/Edit/@Model.Id">
        <label asp-for="Name" class="form-label">Category Name</label>
        <input asp-for="Name" class="form-control" placeholder="Enter category name" />
        <span asp-validation-for="Name" class="text-danger"></span>
        <button class="btn btn-primary" type="submit">Edit</button>
    </form>

    <br />
    <a class="btn alert-success" href="/Categories/Index/">See categories</a>
</div>
